---
import '../../styles/global.css';

import PortableText from '../../components/PortableText.astro';
import { urlForImage } from '../../lib/urlForImage';
import { getAllProjects } from '../../lib/api';

export async function getStaticPaths() {
  const allProjects = await getAllProjects();

  return allProjects.map(project => ({ params: { slug: project.slug.current }, props: { project } }));
}

const { project } = Astro.props;
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Avidu | {project.title}</title>

    <style>
      main {
        max-width: 800px;
        margin: 0 auto;
      }
    
      img {
        width: 100%;
      }

      .project-body h1 {
        color: bisque;
      }
    </style>
	</head>

	<body>
		<main>
      <img src={urlForImage(project.mainImage).url()} alt={project.title} />
      <h1>{project.title}</h1>
      <PortableText portableText={project.body} class="project-body" />
    </main>
	</body>
</html>

