---
import { Image, Picture } from '@astrojs/image/components';
import Header from '../../components/Header.astro';
import ToContact from '../../components/toContact.astro';
import Footer from '../../components/Footer.astro';
import '../../styles/global.css';
import { urlForImage } from '../../lib/urlForImage';
import { getAllProjects } from '../../lib/api';

const projects = await getAllProjects();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Avidu | Projects</title>
  </head>

  <body>
    <!-- Navigation -->
    <Header title="Projects"  />
    <main>
      <div>
        <h1>Projects</h1>
        <ul>
          {projects.map(project => (
            <li>
             <Image src={urlForImage(project.mainImage).url()} alt={project.title} height={500} aspectRatio="16:9" />
              <a href={`/projects/${project.slug.current}`}>{project.title}</a>  
            </li>
          ))}
        </ul>
      </div>
    </main>
 
    <!-- Link to Contact -->
    <ToContact ctnTitle="Need More Proofs" btnText="Reach Me" />

    <!-- Footer -->
    <Footer />
  </body>
</html>
